.typing-animation {
  display: inline-block;
}

.cursor-blink {
  animation: blink 1s infinite;
  color: var(--primary);
  margin-left: 2px;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

